<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Appointments List</title>
    {% load static %}
    <!-- <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- jQuery, Popper and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- Own CSS -->
    <style>
        body  {
            background-color: rgb(51, 102, 204);
            font-family: 'Raleway';
            text-align: center;
        }

        h2 {
            color: rgb(255, 255, 255);
            text-align: center;
            margin-top: 5%;
        }

        table {
            text-align: center;
            margin: 0 auto;
        }

        th { 
            padding: 5px;
        }
	
    </style>
</head>

<body>
    <h2>Appointments</h2>
    <br>
    <div class="container-fluid">
    	<div class="card text-white bg-info mb-3" style="width: 18rem;">
        	<div class="card-header">New Appointment</div>
        		<div class="card-body">
    	    		<a class="btn btn-success" href="{% url 'create_appointment' %}" role="button">Create</a>
        	</div>
    	</div>
    	<table class="table table-dark">
		<tr><th>ID</th><th>Patient</th><th>Doctor</th><th>Date</th><th>Reason</th><th>Room</th></tr>
        	{% for appointment in appointments %}
        	<tr> <!-- update_appointment urls.py -->
            		<th><a href="{% url 'update_appointment' appointment.id %}">{{ appointment.id }}</a></th>
	    		<th>{{ appointment.patient }}</th><th>{{ appointment.doctor }}</th>
	    		<th>{{ appointment.date }}</th><th>{{ appointment.reason }}</th>
	    		<th>{{ appointment.room }}</th>
        	</tr>
        	{% endfor %}
    	</table>
    	<br>
    </div>
</body>

</html>
